# ============================================= #
#                 git generated                 #
# ============================================= #

*.orig

# ============================================= #
#                Unity generated                #
# ============================================= #

[Tt]emp/
[Oo]bj/
[Bb]uild
[Bb]uilds/
[Ll]ibrary/
[Ee]xport/
sysinfo.txt

# ============================================= #
#     Visual Studio / MonoDevelop generated     #
# ============================================= #

[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

# ============================================= #
#                  OS generated                 #
# ============================================= #

.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db


# ============================================= #
#                Project generated              #
# ============================================= #
Assets/Gizmos/
Assets/Gizmos.meta
cached_gamedata/*
Assembly-CSharp.csproj
TestBuild.app/Contents/Resources/Data/Managed/UnityEngine.UI.dll
TestBuild.app/Contents/Resources/Data/Managed/UnityEngine.xml
TestBuild.app/Contents/Resources/Data/Resources/unity_builtin_extra
TestBuild.app/Contents/Resources/Data/globalgamemanagers
TestBuild.app/Contents/Resources/Data/globalgamemanagers.assets
TestBuild.app/Contents/Resources/Data/level0
TestBuild.app/Contents/Resources/Data/sharedassets0.assets
TestBuild.app/Contents/Resources/Data/sharedassets0.assets.resS
TestBuild.app/Contents/Resources/Data/Managed/Assembly-CSharp.dll
TestBuild.app/Contents/Resources/Data/Managed/Mono.Security.dll
TestBuild.app/Contents/Resources/Data/Managed/mscorlib.dll
TestBuild.app/Contents/Resources/Data/Managed/System.Core.dll
TestBuild.app/Contents/Resources/Data/Managed/System.dll
TestBuild.app/Contents/Resources/Data/Managed/UnityEngine.dll
TestBuild.app/Contents/Resources/Data/Managed/UnityEngine.dll.mdb
TestBuild.app/Contents/Resources/Data/Managed/UnityEngine.Networking.dll
TestBuild.app/Contents/Resources/Data/Managed/UnityEngine.PlaymodeTestsRunner.dll
